@use '../variaveis';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    
    white-space: nowrap;
    border-radius: 10px;
    

    &--primary {
        background-color: variaveis.$corOfTheButton;
        color: variaveis.$textColor;

        &:hover {
            background-color: rgb(160, 67, 67);
        }
    }

    @media (max-width: 640px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 1024px ) {
        display: flex;
        align-items: center;
    }
}